@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #F8F8F5;
  --surface: #FFFFFF;
  --card: #F3F5F0;

  --text-primary: #1F2722;
  --text-secondary: #000000;

  --accent: #5F7D66;
  --accent-light: #AAB8AC;

  --border: #DCE4DA;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg) !important;
  color: var(--text-primary) !important;
}
